* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 20% 40% 40% 40% 10% 15%;
    grid-template-columns: 25% 50% 25%;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;

}
.header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    grid-template-areas: "1/1/1/3";
    background-color: black;
    text-decoration-color: white;
    font-size: large;
}

ul{
    color: white;
}


div .nav{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end:1 ;
    list-style: none;
}

.Heading1{
    grid-row-start:2 ;
}

.Heading2{

}
.Heading3{

}
/*tablet width breakpoint: 992px and below*/
/*mobile width breakpoint: 660px and below*/