

.fancy-header {
    color: aliceblue; /* color didnt change just underlined because the h1 embedded first*/
    text-decoration: underline;    font-family: 'Yeon Sung', cursive;
}
/*they are cascading but rules of specificity apply with inline elements*/

body{
    margin: 0;
    background-color: #FFFFFF
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
    font-style: oblique;
    font-family: 'Yeon Sung', cursive;
}


h1{
    text-align: center;
}
h1, h2, h3{
    color: aquamarine;
    text-decoration: underline;
    text-decoration-color: aquamarine;
}

ul {
    list-style-type: circle;
}
ol{
    list-style-type: lower-alpha;
}
td, tr {
    padding: 10px;font-size: medium;
}
a:link{
    color:red;font-size: 20px; font-family: "Yeon Sung", cursive;
}
a:visited{
    color: aquamarine;
}
a:hover{
    color: aliceblue;
}
a:active{
    color: brown;
}