

.fancy-header {
    color: aliceblue; /* color didnt change just underlined because the h1 embedded first*/
    text-decoration: underline;font-family: "Good vibes", cursive;
}
/*they are cascading but rules of specificity apply with inline elements*/

body{
    background-image:url("../img/brain.jpeg");
    background-color: #007680;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
    font-style: oblique;

}
h1{
    text-align: center;
}
#CoreValues{
    font-family: "Andale Mono", sans-serif;
    font-size: 30px;
}
ul {
    list-style-type: lower-alpha;
}
ol{
    list-style-type: circle;
}
td, tr {
    padding: 10px;font-size: medium;
}
a:link, hover{
    text-shadow: black;
    color:red;font-size: 20px; font-family: "Good vibes", cursive;
}